<?xml version="1.0"?>
<config>
    <modules>
        <Cg_Employee>
            <version>1.0.0</version>
        </Cg_Employee>
    </modules>
    <global>
        <blocks>
            <cg_employee>
                <class>Cg_Employee_Block</class>
            </cg_employee>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <cg_employee>
                    <file>cg/employee.xml</file>
                </cg_employee>
            </updates>
        </layout>
    </adminhtml>
</config>
