<?xml version="1.0"?>
<config>
    <modules>
        <Cg_Product>
            <version>1.0.0</version>
        </Cg_Product>
    </modules>
    <global>
        <models>
            <cg_product>
                <class>Cg_Product_Model</class>
                <resourceModel>cg_product_resource</resourceModel>
            </cg_product>
            <cg_product_resource>
                <class>Cg_Product_Model_Resource</class>
                <entities>
                    <product>
                        <table>cg_product</table>
                    </product>
                    <category>
                        <table>cg_product_category</table>
                    </category>
                </entities>
            </cg_product_resource>
        </models>
        <resources>
            <cg_product_setup>
                <setup>
                    <module>Cg_Product</module>
                    <!--<class>Cg_Product_Model_Resource_Setup</class>-->
                </setup>
            </cg_product_setup>
        </resources>
        <blocks>
            <cg_product>
                <class>Cg_Product_Block</class>
            </cg_product>
        </blocks>
        <helpers>
            <cg_product>
                <class>Cg_Product_Helper</class>
            </cg_product>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <reward before="Mage_Adminhtml">Cg_Product_Adminhtml</reward>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Cg_Product>
                    <files>
                        <default>Cg_Product.csv</default>
                    </files>
                </Cg_Product>
            </modules>
        </translate>
    </adminhtml>
</config>
