<?xml version="1.0"?>
<config>
    <modules>
        <Cg_Register>
            <version>1.0.1</version>
        </Cg_Register>
    </modules>
    <global>
        <models>
            <cg_register>
                <class>Cg_Register_Model</class>
                <resourceModel>cg_register_resource</resourceModel>
            </cg_register>
            <cg_register_resource>
                <class>Cg_Register_Model_Resource</class>
                <entities>
                    <register>
                        <table>cg_register</table>
                    </register>
                </entities>
            </cg_register_resource>
        </models>
        <resources>
            <cg_register_setup>
                <setup>
                    <module>Cg_Register</module>
                    <!--<class>Cg_Register_Model_Resource_Setup</class>-->
                </setup>
            </cg_register_setup>
        </resources>
        <blocks>
            <cg_register>
                <class>Cg_Register_Block</class>
            </cg_register>
        </blocks>
        <helpers>
            <cg_register>
                <class>Cg_Register_Helper</class>
            </cg_register>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cg_register before="Mage_Adminhtml">Cg_Register_Adminhtml</cg_register>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Cg_Register>
                    <files>
                        <default>Cg_Register.csv</default>
                    </files>
                </Cg_Register>
            </modules>
        </translate>
        <!--<events>-->
        <!--</events>-->
    </adminhtml>
</config>
