<?xml version="1.0"?>
<config>
    <modules>
        <Cg_Forms>
            <version>1.0.0.0</version>
        </Cg_Forms>
    </modules>
    <global>
        <models>
            <cg_forms>
                <class>Cg_Forms_Model</class>
                <resourceModel>cg_forms_resource</resourceModel>
            </cg_forms>
            <cg_forms_resource>
                <class>Cg_Forms_Model_Resource</class>
                <entities>
                    <form>
                        <table>cg_form</table>
                    </form>
                    <reservation>
                        <table>cg_reservation</table>
                    </reservation>
                    <template>
                        <table>cg_form_template</table>
                    </template>
                    <field>
                        <table>cg_form_field</table>
                    </field>
                </entities>
            </cg_forms_resource>
        </models>
        <resources>
            <cg_forms_setup>
                <setup>
                    <module>Cg_Forms</module>
                    <class>Cg_Forms_Model_Resource_Setup</class>
                </setup>
            </cg_forms_setup>
        </resources>
        <blocks>
            <cg_forms>
                <class>Cg_Forms_Block</class>
            </cg_forms>
        </blocks>
        <helpers>
            <cg_forms>
                <class>Cg_Forms_Helper</class>
            </cg_forms>
        </helpers>
        <events>
            <!--<newsletter_subscriber_save_commit_after>-->
                <!--<observers>-->
                    <!--<cg_forms>-->
                        <!--<class>cg_forms/observer</class>-->
                        <!--<method>customerSubscribed</method>-->
                    <!--</cg_forms>-->
                <!--</observers>-->
            <!--</newsletter_subscriber_save_commit_after>-->
        </events>
        <pdf>
            <!--<totals>-->
                <!--<reward translate="title">-->
                    <!--<title>Reward Points</title>-->
                    <!--<source_field>reward_currency_amount</source_field>-->
                    <!--<font_size>7</font_size>-->
                    <!--<display_zero>0</display_zero>-->
                    <!--<sort_order>650</sort_order>-->
                    <!--<amount_prefix>-</amount_prefix>-->
                <!--</reward>-->
            <!--</totals>-->
        </pdf>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cg_forms before="Mage_Adminhtml">Cg_Forms_Adminhtml</cg_forms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Cg_Forms>
                    <files>
                        <default>Cg_Forms.csv</default>
                    </files>
                </Cg_Forms>
            </modules>
        </translate>
        <layout>
            <updates>
                <cg_forms>
                    <file>cg/forms.xml</file>
                </cg_forms>
            </updates>
        </layout>
        <events>
        </events>
    </adminhtml>
    <default>
        <cg_forms>
            <menu>0</menu>

            <!--<general>-->
                <!--<is_enabled>1</is_enabled>-->
                <!--<is_enabled_on_front>1</is_enabled_on_front>-->
                <!--<publish_history>1</publish_history>-->
                <!--<expiry_calculation>static</expiry_calculation>-->
                <!--<landing_page>reward-points</landing_page>-->
            <!--</general>-->
            <!--<notification>-->
                <!--<email_sender>general</email_sender>-->
                <!--<subscribe_by_default>1</subscribe_by_default>-->
                <!--<balance_update_template>cg_forms_notification_balance_update_template</balance_update_template>-->
                <!--<expiry_warning_template>cg_forms_notification_expiry_warning_template</expiry_warning_template>-->
            <!--</notification>-->
        </cg_forms>
    </default>
</config>
