<?xml version="1.0"?>

<config>
    <modules>
        <Cg_Customer>
            <version>1.0.0.0</version>
        </Cg_Customer>
    </modules>
    <global>
        <models>
            <cg_customer>
                <class>Cg_Customer_Model</class>
                <resourceModel>cg_customer_resource</resourceModel>
            </cg_customer>
            <!--<cg_customer_resource>-->
                <!--<class>Cg_Customer_Model_Resource</class>-->
                <!--<entities>-->
                    <!--<ololo>-->
                        <!--<table>weufbiquweyfbiuyb</table>-->
                    <!--</ololo>-->
                <!--</entities>-->
            <!--</cg_customer_resource>-->
        </models>
        <helpers>
            <cg_customer>
                <class>Cg_Customer_Helper</class>
            </cg_customer>
        </helpers>
        <resources>
            <customer_setup>
                <setup>
                    <module>Cg_Customer</module>
                </setup>
            </customer_setup>
        </resources>
        <blocks>
            <cg_customer><class>Cg_Customer_Block</class></cg_customer>
            <adminhtml>
                <rewrite>
                    <customer_edit_tabs>Cg_Customer_Block_Adminhtml_Edit_Tabs</customer_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <customer after="Mage_Adminhtml">Cg_Customer_Adminhtml</customer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Cg_Customer>
                    <files>
                        <default>Cg_Customer.csv</default>
                    </files>
                </Cg_Customer>
            </modules>
        </translate>
        <!--<layout>-->
            <!--<updates>-->
                <!--<customer>-->
                    <!--<file>cg/customer.xml</file>-->
                <!--</customer>-->
            <!--</updates>-->
        <!--</layout>-->
        <allowed_tabs>
            <account>
                <default />
            </account>
            <addresses/>
            <newsletter/>
            <customer_edit_tab_forms/>
        </allowed_tabs>
    </adminhtml>
</config>
