<?xml version="1.0"?>
<config>
    <modules>
        <Cg_Kernel>
            <version>1.0.0</version>
        </Cg_Kernel>
    </modules>
    <global>
        <models>
            <cg_kernel>
                <class>Cg_Kernel_Model</class>
                <resourceModel>cg_kernel_resource</resourceModel>
            </cg_kernel>
        </models>
        <blocks>
            <cg_kernel>
                <class>Cg_Kernel_Block</class>
            </cg_kernel>
        </blocks>
        <helpers>
            <cg_kernel>
                <class>Cg_Kernel_Helper</class>
            </cg_kernel>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <cg_kernel>
                    <file>cg/kernel.xml</file>
                </cg_kernel>
            </updates>
        </layout>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <cg_kernel>
                        <class>cg_kernel/observer</class>
                        <method>setWidgetContainerValidationUrl</method>
                    </cg_kernel>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>
</config>
